body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin: 40px 0 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.select-month {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.transactions-table th, .transactions-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.transactions-table th {
    background-color: #f2f2f2;
}

.transactions-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} */

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.statistics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.statistics div {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.statistics div p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.charts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.chart-container {
    flex: 1;
    margin: 0 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
