.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transactions-table th, .transactions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.transactions-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.pagination button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed; 
} */
